Source: moka-icon-theme
Section: misc
Priority: optional
Maintainer: David Mohammed <foss.freedom@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/moka-project/moka-icon-theme.git
Homepage: https://snwh.org/moka


Package: moka-icon-theme
Architecture: all
Depends: faba-icon-theme,
		 ${misc:Depends}
Description: Moka Icon Theme
 Moka is a stylized Tango-esque Linux desktop icon set. They are 
 designed to be a clear, simple and consistent.
